{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html lang="en">
<html xmlns="http://www.w3.org/1999/html">
{% block head %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
            type="text/css"
    />
{% endblock %}

{% block content %}
<div id='map' style='width: 100%; height:90%'></div>
<div class="container">
    {% render_bundle 'main' %}
    <h3>FAQ</h3>
    <h4>What is this?</h4>
    <p>
        Inspired by Every Single Street, Every Single Trail computes complete tours that touch every trail with a park
        bounded
        by roads (data issues mean that sometimes, you cross roads, sorry!). The GPX files are the shortest
        possible path to traverse every trail in a park.
    </p>

    <h4>Why?</h4>
    <p>
        COVID-19 has reduced everyone's travel radius -- it seemed like a good time to fully explore the trails around
        me.
        I've been every-single-trailing around Boston and found it to be a really delightful experience, finding new
        ponds, trails,
        and regions
        I never new existed.
    </p>

    <h4>How do I use these GPX files?</h4>
    <p>
        For dense parks, the files sometimes return to the same intersection multiple times which can make the track
        difficult to follow. However,
        some running watches (eg. the Suunto Spartan Ultra) display helpful overlays at complex intersections enabling
        you to follow very complex topologies.

        In lieu of this, it can be helpful to convert the track into a hand drawn map.
    </p>

    <h4>Missing Trail / Missing Park, Park/Trail doesn't exist, etc.</h4>
    <p>
        All the data for Every Single Trail comes from Open Street Map, something akin to a Wikipedia for map data. If
        you find an issue, it's easy to make changes on <a href="https://www.openstreetmap.org/">OpenStreetMap.org</a>. I
        reimport pretty rarely, so let me know if you've updated the data for a specific region and I can reload it for you.
    </p>
</div>
{% endblock %}
