.about {
    padding: 2em;
}

.info-panel {
    padding: 1em;
    font-size: .9em;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}