[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmium = "==2.15.3"
tqdm = "==4.25.0"
geopy = "==1.16.0"
networkx = "*"
djangorestframework = ">=3.9.1"
pytest-django = "==3.4.2"
requests-mock = "==1.5.2"
django-click = ">=2.1.1"
django-cors-headers = "*"
djangorestframework-gis = "*"
# "SRTM.py" = "*"
Django = "==2.2.13"
gpxpy = "*"
django-measurement = "*"
"psycopg2-binary" = "*"
rasterio = "*"
structlog = "*"
colorama = "*"
django-webpack-loader = "*"
cattrs = "*"
postman-problems = "*"
'srtm.py' = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
celery = "*"
redis = "*"
sentry-sdk = "*"
django-structlog = "*"

[dev-packages]
mypy = "*"
black = "*"
gmplot = "==1.2.0"
pytest = "==3.7.4"
ipython = "*"
py-spy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
