[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
osmium = "==2.14.3"
tqdm = "==4.25.0"
geopy = "==1.16.0"
networkx = "==2.1"
djangorestframework = "==3.8.2"
pytest-django = "==3.4.2"
requests-mock = "==1.5.2"
django-click = "==2.1.0"
django-cors-headers = "==2.4.0"
djangorestframework-gis = "==0.13"
# "SRTM.py" = "*"
Django = "==2.1.1"
gpxpy = "*"
django-measurement = "*"
"psycopg2-binary" = "*"

[dev-packages]
mypy = "*"
black = "*"
gmplot = "==1.2.0"
pytest = "==3.7.4"
ipython = "*"
django-debug-toolbar = "*"
djdt-flamegraph = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
